.advantage {
    min-height: 473px;
    padding: 70px 0 83px 0;
    background-color: #f6f6f6;
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        text-align: center;
        width: 257px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__item-header {
        color: #0d0d0d;
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
    }
    &__item-discr {
        color: #0d0d0d;
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        a {
            color: #ff0000;
        }
    }
}
