.consultation {
    height: 750px; // min-height: 680px;
    padding: 100px 0 108px 0;
    background: url("../img/bg/form_bg.jpg") center (center/cover) no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        margin: 7px 0 36px 0;
    }
    .error {
        border: 2px solid $main-color;
        margin-bottom: 15px;
        font-size: 14px;
    }
    label.error {
        color: #fff;
        border: none;
    }
}
